// Sizes
$max-width: 750px;
$margin-y: 16px;
$avatar-size: 90px;

// Colors
$primaryalt: #28a745;
$primary: #dc3545;

body.purple {
    $primaryalt: #1F2F8A !global;
    $primary: #8A4FFF !global;
}

// Placeholders
%link-default {
    color: $primary;
    text-decoration: none;
    &:hover {
        color: $primary;
        text-decoration: underline;
    }
}
%link-dark {
    color: inherit;
    text-decoration: none;
    &:hover {
        color: inherit;
        text-decoration: underline;
    }
}
%table-cell {
    border: 1px solid #cccccc;
    padding: 6px 12px;
    text-align: left;
}
